:host ::ng-deep {
    .div-chantier-table{
      padding: 0rem;
    }
    .table-chantier-border{
      padding-top: 6px;
      background-color: white;
      background-image: none;
    }
    .table-border-comp{
      border:1px solid #e9ecef;
      border-collapse: separate;
      border-radius: 5px;
    }
    .div-chantier-img{
      display: flex;
    }

    .div-chantier-etude{
      padding-top: 1rem;
    }
    .div-telecharge-modele{
      padding-top: 1rem;
    }

    .td-nom-class{
      width : 85%;
      padding: 0.5rem 0.3rem !important;
      border-width: 0 !important;
    }
    .td-nom-gras-ital{
      width : 85%;
      padding: 0.5rem 0.3rem !important;
      border-width: 0 !important;
      font-style: italic;
      font-weight: bold;
    }
    .td-icon-class{
      padding: 0.5rem 0.3rem !important;
      border-width: 0 !important;
    }

    .i-icon {
      border: 0 none;
      background: transparent;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    }

    .button-no-hover:enabled:hover{
      border-color: transparent;
      background: white;
    }

    .div-button-modif{
      padding-top: 1rem;
      display: flex;
      justify-content: flex-end;
    }
    .padding-bot{
      padding-bottom: 0.8rem;
    }
    .label-strong-width-max{
      font-weight: 600;
      width: 100%;
    }
    .input-modif-chantier{
      width: 5rem !important;
      text-align: center;
    }

    .input-modif-chantier-nom{
      width: 100% !important;
    }

    .p-fileupload p-messages {
      display: none;
    }
}
