<div class="layout-footer">
  <div class="footer-start">

    <img src="assets/layout/images/LogoCerema.svg" alt="logo"/>

    <div class="flex-column">
      <div class="block">
        <span class="app-name">AMODIFIER-NomLong</span>
      </div>
      <div class="block ml-3">
        <p>v{{version}}</p>
      </div>
    </div>

  </div>
  <div class="footer-end">
    <img src="assets/layout/images/LogoCerema_horizontal.svg" style="min-width: 8rem; min-height: 2rem;" alt="logo"/>
  </div>
</div>

