<p-dialog header="Modification installation de stockage" *ngIf="formInstallationStockage" [(visible)]="modificationInstallationStockageDialog" [modal]="true" [style]="{ width: '25rem' }" [draggable]="false" [resizable]="false">
  <div [formGroup]="formInstallationStockage">
    <div class="p-fluid p-grid p-formgrid">
      <div class="padding-bot" style="padding-top: 0.5rem;">
        <label for="nom_etab" class="label-strong-width-max">Nom établissement : </label>
        <input pInputText id="nom_etab" formControlName="nom_etab">
      </div>
      <div class="padding-bot">
        <label for="description" class="label-strong-width-max">Description : </label>
        <input pInputText id="description" formControlName="description" (input)="nomDisable()">
      </div>
      <div class="padding-bot">
        <label for="annee_fin" class="label-strong-width-max">Année de fin : </label>
        <input pInputText pKeyFilter="int" id="annee_fin" formControlName="annee_fin" [min]="1900" [max]="2200" class="input-modif-installation" (input)="nomDisable()">
      </div>
      <div class="padding-bot">
        <label for="beton_pref" class="label-strong-width-max">Stockage béton/préfabriqué (kt) : </label>
        <input pInputText pKeyFilter="int" id="beton_pref" formControlName="beton_pref" [min]="0" class="input-modif-installation" (input)="nomDisable()">
      </div>
      <div class="padding-bot">
        <label for="viab_autre" class="label-strong-width-max">Stockage viabilité/autre (kt) :</label>
        <input pInputText pKeyFilter="int" id="viab_autre" formControlName="viab_autre" [min]="0" class="input-modif-installation" (input)="nomDisable()">
      </div>
      <div class="padding-bot">
        <label for="ton_tot" class="label-strong-width-max">Stockage total (kt) : </label>
        <input pInputText pKeyFilter="int" id="ton_tot" formControlName="ton_tot" [min]="0" class="input-modif-installation" (input)="nomDisable()">
      </div>
    </div>
  </div>
  <div class="div-button-modif">
    <button type="button" pButton icon="pi pi-times" label="Annuler" class="p-button-outlined" style="margin-right: 1rem;" (click)="annuler()"></button>
    <div [pTooltip]="tooltipValidationModif()" tooltipPosition="top" [tooltipOptions]="tooltipOptionsMessage" [escape]="false">
      <button type="button" pButton icon="pi pi-check" label="Valider modifications" [disabled]="tooltipValidationModif() !== ''" (click)="valider()"></button>
    </div>
  </div>
</p-dialog>


<div class="div-installation-stockage-table">
  <div class="div-installation-stockage-existante">
    <label for="installationStockagesExistantes"><b>Installations Existantes :</b></label>
    <p-table [value]="installationStockagesExistantes" [responsive]="true" id="installationStockagesExistantes"
      class="table-installation-stockage-border" tableStyleClass="table-border-comp">
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="installationStockagesExistantes">
        <ng-container>
          <tr>
            <td class="td-nom-class" [pTooltip]="tooltipInstallationOrigine(rowData)" tooltipPosition="top"
                [ngStyle]="{ 'font-weight': isIdSourceNotEmpty(rowData.idSource) ? 'bold' : 'normal', 'font-style': isIdSourceNotEmpty(rowData.idSource) ? 'italic' : 'normal' }">
                {{ rowData.nomEtab }} - Fin : {{ rowData.anneeFin }} - Stockage total : {{ rowData.tonTot }} kt</td>
            <td class="td-icon-class">
              <div class="div-installation-stockage-img">
                <button [ngClass]="rowData.afficher ? 'pi pi-eye icon-pointer i-icon button-no-hover' : 'pi pi-eye-slash icon-pointer i-icon button-no-hover'"
                  (click)="clickEye(rowData)" pTooltip="Afficher">
                </button>
                <button *ngIf="!ajoutImpossible(rowData)" class="pi pi-arrow-down icon-pointer i-icon button-no-hover" [disabled]="isEtapeScenario() || isLectureSeule()"
                  (click)="clickArrowDown(rowData)" pTooltip="Ajouter">
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
  <div class="div-installation-stockage-etude">
    <label for="installationStockagesEtude"><b>Installations de l'étude :</b></label>
    <p-table [value]="installationStockagesEtude" [responsive]="true" id="installationStockagesEtude"
      class="table-installation-stockage-border" tableStyleClass="table-border-comp">
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="installationStockagesEtude">
        <ng-container>
          <tr>
            <td class="td-nom-class" [pTooltip]="tooltipInstallationOrigine(rowData)" tooltipPosition="top"
            [ngStyle]="{ 'font-weight': isIdSourceNotEmpty(rowData.idSource) ? 'bold' : 'normal', 'font-style': isIdSourceNotEmpty(rowData.idSource) ? 'italic' : 'normal' }">
                {{ rowData.nomEtab }} - Fin : {{ rowData.anneeFin }} - Stockage total : {{ rowData.tonTot }} kt</td>
            <td class="td-icon-class">
              <div class="div-installation-stockage-img">
                <button [ngClass]="rowData.afficher ? 'pi pi-eye icon-pointer i-icon button-no-hover' : 'pi pi-eye-slash icon-pointer i-icon button-no-hover'"
                  (click)="clickEye(rowData)" pTooltip="Afficher">
                </button>
                <button *ngIf="rowData.supprimable; else arrowUp" class="pi pi-trash icon-pointer i-icon button-no-hover" [disabled]="isEtapeScenario() || isLectureSeule()"
                  (click)="clickSuppr(rowData)" pTooltip="Supprimer">
                </button>
                <ng-template #arrowUp>
                  <button class="pi pi-arrow-up icon-pointer i-icon button-no-hover" [disabled]="isEtapeScenario() || isLectureSeule()"
                    (click)="clickArrowUp(rowData)" pTooltip="Supprimer">
                  </button>
                </ng-template>
                <button class="pi pi-pencil icon-pointer i-icon button-no-hover"  [disabled]="isEtapeScenario() || isLectureSeule()"
                  (click)="clickModification(rowData)" pTooltip="Modifier">
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </div>

  <div class="p-fluid">
    <div class="div-telecharge-modele">
      <p-button label="Télécharger le modèle" icon="pi pi-download" iconPos="right" (onClick)="telechargerModele()"
                pTooltip="{{ messageToolTipDownload }}"
                tooltipPosition="top" [tooltipOptions]="tooltipOptionsMessage"
                [escape]="false" [fitContent]="false">
      </p-button>
    </div>

    <div style="padding: 1rem 1rem; display: inline;">
      <p-fileUpload #fileuploadform mode="basic" accept=".cpg, .dbf, .prj, .shp, .shx, .gpkg, .zip"
        name="myFiles[]" [multiple]='true' [showUploadButton]="false"
        [showCancelButton]="false" [auto]="true" [customUpload]="true"
        (uploadHandler)="uploadInstallationStockageEtude($event, fileuploadform)"
        (onSelect)="validateInputFiles($event, fileuploadform)"
        chooseLabel="Importer" pTooltip="{{ messageToolTipBouton }}"
        tooltipPosition="top" [tooltipOptions]="tooltipOptionsMessage"
        [escape]="false" [fitContent]="false" [disabled]="isEtapeScenario() || isLectureSeule()">
      </p-fileUpload>
    </div>

    <p-messages *ngIf="messageInformationImport" [(value)]="messageInformationImport" [escape]="false"></p-messages>
    <p-messages *ngIf="messageErreurImport" [(value)]="messageErreurImport" [escape]="false"></p-messages>
    <p-messages *ngIf="messageInformationImportTemp" [(value)]="messageInformationImportTemp" [escape]="false"></p-messages>
  </div>
</div>
