.conteneur {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: auto;
  height: auto;
}

.card-header {
  text-align: center;
}

.card-body {
  padding: 1rem 1.5rem;
}

