:host ::ng-deep{
    .scenario-inside-accordion-content .p-accordion .p-accordion-content {
        //padding: 0 !important;
        border: 0px !important;
    }     
    .input-add-echenace{
        width: 5rem !important;
        text-align: center;
    }    
    .percent-symbol {
        position: absolute;
        right: 5px;  
        top: 50%;
        transform: translateY(-50%);
    }
    .input-container {
        position: relative;
        display: inline-block;
    } 
    .table-projection-materiaux {
        padding-top: 6px;
        background-color: white;
        background-image: none;
    }
    .table-border-comp {
        border:1px solid #e9ecef;
        border-collapse: separate;
        border-radius: 5px;
        border-bottom: none;
    }
    .projection-materiaux-header {
        border-bottom: 1px solid #e9ecef;
    }
    .td-class {
        width: 4rem;
        padding: 0.5rem 0.3rem !important;
        border-bottom: 1px solid #e9ecef;
        white-space: nowrap;
    }
    .td-class-echeance {
        width: 3rem;
        padding: 0.5rem 0.3rem !important;
        border-bottom: 1px solid #e9ecef;
        white-space: nowrap;
    }
    .td-nom-zone{
        padding: 0.5rem 0.3rem !important;
        border-bottom: 1px solid #e9ecef;
    }
    .th-nom-zone{
        border-bottom: 1px solid #e9ecef;
    }
    .th-class-echeance {
        width: 3rem;
        border-bottom: 1px solid #e9ecef;
    }
    .input-error {
        border-color: red;
    }

    a.p-accordion-header-link {
        padding-left: 1.7rem !important;
    }

    .input-class {
        text-align: center !important;
        width: 4rem;
    }

    .th-header-departement {
        text-align: center !important;
        width: 60%;
        padding: 0.5rem 0.3rem !important;
        background-color: var(--bluegray-100);
    }
    .th-header-beton {
      text-align: center !important;
      width: 20%;
      padding: 0.5rem 0.3rem !important;
      background-color: var(--bluegray-100);
    }
    .th-header-viab {
      text-align: center !important;
      width: 20%;
      padding: 0.5rem 0.3rem !important;
      background-color: var(--bluegray-100);
    }

    .div-ponderation-slider  {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0rem 1rem 0rem 1rem;

        text-align: center;
    }

    .div-ponderation{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .div-span-surface{
        display: inline-flex;
        width: 100%;
    }

    .span-ponderation{
        padding-top: 1rem;
    }
    .span-surface{
        padding-bottom: 0.5rem;
        width: 50%;
        text-align: center;
    }

    .p-ponderation{
        margin: 0 0 0.5rem 0;
        font-weight: bold;
        padding-top: 0.5rem;
    }
    .p-ponderation-label{
        margin: 0;
        font-weight: 500;
    }
}
