:host ::ng-deep {
    span.span-marker{
        position: relative !important;
        display: flex;
        font-weight: bold;
        min-width: 100px;
        left: -35px;
        text-align: center;
        justify-content: center;
    }

    .li-custom-properties{
        list-style: none;
    }

    .div-marker{
      max-width: 30rem;
      width: max-content;
      flex-direction: row;
      display: flex;
    }
    .marker-etiquette{
      margin-top: 2px;
      padding: 1px 3px;
      max-width: 10rem;
      width: max-content;
      font-size: 0.7rem;
      font-weight: bold;
      text-align: center;
      background-color: white;
      opacity: 0.8;
      border-radius: 2px;
    }

    .marker-tooltip{
      max-width: 20rem;
      width: max-content;
      white-space: normal;
    }
}

.container{
  position: relative;
  height: 100%;
  width: 100%
}

.sidebar-tab{
  position: absolute;
  height: 100%;
  z-index: 2;
}

.etude{
  display: flex;
}

.map{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}



.displayNone{
    display: none;
}
